:root {
    --main-color: #211f37;
    --second-main-color: #9B95BD;
    --color-green: #9ae366;
    --color-yellow: #ffcd03;
}


body {
    background-color: var(--main-color);
    margin: 0px;
    /* height: 100vh; */

    padding-top: 200px;
    font-family: 'Roboto', sans-serif;
}

#main-content {
    display: flex;
    /* height: 90vh; */
}



/* image */
#background {
    background-image: url('/images/cat-blerg.jpg');
    background-size: 150%;
    background-repeat: no-repeat;
    background-position: 50% 65%;
    
    max-height: 800px;
    min-width: 500px;

    display: flex;
    flex-direction: column;
    align-items: flex-end;    
    justify-content: space-between;
}

#background > div {
    background-color: rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
    position: relative;
    top: 500px;
}

#background > div > p {
    color: var(--color-green);
    font-size: 4.5rem;
    margin: 20px;
}

#background > p:last-child {
    color: white;
    margin: 13px 10px;
}

a:link {
    color: white;
}

a:hover, a:focus {
    color: var(--color-yellow);
}

/* form side */
#form > * {
    padding-left: 40px;
}

#form {
    background-color: var(--second-main-color);
    height: 800px;
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

#form > p {
    /* width: max(600px); */
    width: clamp(500px, 50%, 600px);
    margin: 0px;
}

#account > button {
    background-color: var(--color-green);
    color: var(--second-main-color);
    
    cursor: pointer;

    padding: 15px;
    margin-bottom: 10px;
    border-radius: 13px;
    border: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: 900;
}

button:hover {
    background-color: var(--color-yellow);
    box-shadow: 0 0 5px 3px #baff89;
}

#account a {
    text-decoration: none;
}

form {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: clamp(600px, 75%, 80%);
    padding: 30px;
    margin: 30px 0px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;
}

form > div:not(:first-child) {
    /* color: black; */
    width: 45%;
}

form > div:first-child{
    color: black;
    min-width: 100%;
    padding: 0px;
}

form > div > legend {
    font-size: 1.5rem;
}

form > div > p {
    font-size: 0.9rem;
    margin: 0px;
}

label {
    display: block;
    text-transform: uppercase;
    font-size: 0.9rem;
    padding-bottom: 0.25rem;
}

input {
    font-family: inherit;
    font-size: 1rem;

    background-color: #bab3e4;
    box-sizing: border-box;
    border: 1px solid var(--main-color);
    border-radius: 4px;
    padding: 0.25em 0.5em;
    width: 100%;
    transition: 180ms box-shadow ease-in-out;
}

#incorrect {
    display: none;
    color: red;
    font-size: 0.8rem;
    float: right;
    overflow: visible;
}

/* input effects */
*::before,
*::after {
    box-sizing: border-box;
}

input:focus {
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    outline: var(--main-color) solid 2px;
}

input:not(:focus):not(:placeholder-shown):valid {
    box-sizing: border-box;
    outline: 1px solid rgb(69, 69, 245);
    border-color: rgb(69, 69, 245);
}

input:not(:focus):not(:placeholder-shown):invalid ~ #incorrect {
    display: inline;
}

input:not(:focus):not(:placeholder-shown):invalid {
    box-sizing: border-box;
    outline: 2px solid red;
    border-color: red;
}